/* Main */

body,html{
  height:100%;
}

body {
	font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	line-height: 26px;
}

body, h1, h2, h3, h4, h5, p {
	font-weight: 300;
}

a {
	color:#2E6231;
}

code {
	color: #2E6231
}

.greyed {
	color: #525252;
	
}

.span9 a:hover, a:focus {
	color: #efefef;
	text-decoration: none;
	background-color: black;
}

.divider {
	clear: both;
	text-align: center;
	margin: 20px 0;
	border-top: 1px solid #E2E2E2;
}

.content {
	padding: 10px;
}

.row-fluid .controls-row [class*="span"] .nospace {
	margin-left:0px;
}

/* Side Bar */

.sidebar-nav-fixed{
	margin-left: -20px;
	top: 0;
	width: 25%;
	background-color: #66C477;
	color: #efefef;
	text-align: center;
	height: 100%;
}

.cover {
	margin-top: 0px;
	background-image: url('/img/back.jpg');
	background-size: auto 100%;
	background-position: 85% 75%;
	height: 60%;
}

.info {
	border-top: 5px solid #fff;
	padding: 10px;
	text-align: center;
}

.info h3 {
	padding: 0;
	margin-bottom: 0;
}

.info ul {
	list-style-type: none;
	display: inline;
}

.info ul li {
	display: inline;
	padding: 5px;
}

.info a:hover {
	font-size: 120%;
	color: #595959;
	text-decoration: none;
}

.info a {
	font-size: 120%;
	color: #EFEFEF;
}

.info .activa a{
	font-size: 120%;
	color: #595959;
}

#footer {
    clear:both;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 10px;
    margin-top: 20px;
    padding-top: 10px;
	border-top: 1px dotted #E2E2E2;
}

#twitter {
	background: url('../img/icons/twitter.png') top left no-repeat;
}

#github {
	background: url('../img/icons/github.png') top left no-repeat;
}

#googleplus {
	background: url('../img/icons/googleplus.png') top left no-repeat;
}

#instagram {
	background: url('../img/icons/instagram.png') top left no-repeat;
}

#twitter, #github, #googleplus, #instagram {
	background-size: 40px 80px;
	height: 40px;
	float: left;
	width: 40px;
}

.table-info {
	margin-top:10px;
	margin-bottom:10px;
}

/* Default Layout */

.coverpic {
	max-width: 400px;
	height: auto;
	padding: 5px;
}

.pagination {
	font-weight: 300;
}

.pagination a:hover, a:focus {
	color: #595959;
	text-decoration: none;
}

/* Post Layout */

.post a, .static a{
	font-weight: 400;
}

.post img {
	max-width: 450px;
	height: auto;
	padding: 10px;
	display: block;
	clear: both;
}

.small {
	max-width: 250px;
	height: auto;
	padding: 10px;
	display: block;
	clear: both;
}

/* Social Section */
.socialshare {
	list-style-type: none;
	display: inline;
	padding: 20px;
}

.socialshare li {
	display: inline;
	float: left;
}

.social-icons {
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.social-icons>a {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 16%;
}

.social-icons>a:last-child {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 0px;
}

/* Static Layout */

.static img {
	max-width: 450px;
	height: auto;
	float: left;
	max-height: 500px;
	padding: 0px 10px 10px 10px;
	display: block;
	clear: both;
}

.static h1 {
	margin-bottom: 20px;
}

.static {
	font-size: 110%;
}

.static ul li {
	list-style-type: square;
	padding: 5px 0px 5px 0px;
}

/* Responsive Stuff */

@media (max-width: 767px) {

	body {
		padding-left: 0;
		padding-right: 0;
	}

	h1, h2, h3 {
		line-height: 35px;
	}

	.sidebar-nav-fixed{
	    margin: 0;
    	display: table;
		width: 100%;
		background-color: #66C477;
		color: #efefef;
		text-align: center;
		height: 240px;
		padding-bottom: 20px;
	}	

	.cover {
	margin-top: 0px;
	background-image: url('/img/back.jpg');
	background-size: 100% auto;
	background-position: 85% 75%;
	height: 50%;
	}

	#footer {
		display: none;
	}

	.myclearfix {
	  *zoom: 1;
	}

	.myclearfix:before,
	.myclearfix:after {
	  display: table;
	  line-height: 0;
	  content: "";
	}

	.myclearfix:after {
	  clear: both;
	}

	.nospace {
		padding-left: 10px;
		padding-right: 10px;
	}

	.post img, .coverpic {
		max-width: 80%;
		height: auto;
		padding: 10px;
		display: block;
		clear: both;
	}

	.info {
	border-top: 5px solid #fff;
	padding: 5px;
	text-align: center;
	}

	.affix{
		position: static;
	}

	.pagination {
		text-align: center;
	}

	.static img {
		float: none;
	}
}

