---
layout: default
title: Capelo is Blogging
---
<h1>Drop the <span style="text-decoration:line-through">Bass!</span> Post</h1>
  <div class="divider"></div>
{% for post in paginator.posts %}
<div class="row-fluid">
  <div class="span12">
    <h2>{{ post.title }}</h2>

    <h4 class="greyed">{{ post.date | date_to_long_string }}</h4>
    {% if post.image %}
    <img src="{{ post.image }}" class="coverpic">
    {% endif %}
    <p>
      {% if post.summary %}
      <i>{{ post.summary}}</i></p><p>
      {% else %}
      <i>{{ post.content | split: "." | first}}...</i></p><p>
          <!-- Case for when no excerpt is defined -->
      {% endif %}
      <a href="{{ post.url }}">Read more</a>
    </p>
  </div>
</div>
  <div class="divider"></div>

{% endfor %}

{% include pagination.html %}