<!-- For displaying the next and previous pages -->

<div class="row-fluid">
  <div class="span12">
    <div class="pagination">
      <ul>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <li><a href="/">Prev</a></li>
          {% else %}
          <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
          {% endif %}
        {% else %}
        <li><span class="disabled">Prev</span></li>
        {% endif %}
        {% if paginator.page == 1 %}
        <li><span class="active">1</span></li>
        {% else %}
        <li><a href="/">1</a></li>
        {% endif %}
        {% assign pags = paginator.total_pages%}
        {% if pags < 10 %}
          {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <li><span class="active">{{ count }}</span></li>
            {% else %}
            <li><a href="/page{{ count }}">{{ count }}</a></li>
            {% endif %}
          {% endfor %}
        {% else %}
          {% if paginator.page > 5 %}
              {% assign min = paginator.page | minus: 4 %}
            {% else %}
              {% assign min = 2 %}
          {% endif%}
          {% assign max_aux = paginator.total_pages | minus: 5 %}
          {% if paginator.page > max_aux %}
            {% assign max = paginator.total_pages %}
          {% else %}
            {% assign max = paginator.page | plus: 5 %}
          {% endif%}
          {% if min > 2%}
              <li><a href="javascript:;">...</a></li>
            {% endif %}
          {% for count in (min..max) %}            
            {% if count == paginator.page %}
              <li><span class="active">{{ count }}</span></li>
            {% else %}
              <li><a href="/page{{ count }}">{{ count }}</a></li>
            {% endif %}
          {% endfor %}
            {% if max != paginator.total_pages %}
              <li><a href="javascript:;">...</a></li>
              <li><a href="/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
              {% endif %}
        {% endif %}
        {% if paginator.next_page %}
        <li><a href="/page{{ paginator.next_page }}">Next</a></li>
        {% else %}
        <li><span class="disabled">Next</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>