<div class="sidebar-nav-fixed affix">
	<div class="cover">
		<!-- <img src="/img/back.jpg"> -->
	</div>
	<div class="info">
		<h3>{{site.name}}</h3>

		<ul>
	      <li id="home"><a href="/">Home</a></li>
	      <li id="about"><a href="/about/">About</a></li>
	    </ul>	
		<br>
		<table class="table-info" align="center">
			<tr>
				<td><a class="social-icon" id="twitter" title="Twitter" target="_blank" href="http://www.twitter.com/antoniocapelo" alt="Twitter"><span style="display:none">twitter</span></a> </td>
				<td><a class="social-icon" id="github" title="GitHub" target="_blank" href="http://github.com/antoniocapelo" alt="GitHub"><span style="display:none">github</span></a></td>
				<td><a class="social-icon" id="googleplus" title="Google+" target="_blank" href="https://plus.google.com/108881262271506526275/posts" alt="Google Plus"><span style="display:none">googleplus</span></a></td>
				<td><a class="social-icon" id="instagram" title="Instagram" target="_blank" href="http://www.instagram.com/acapelo"><span style="display:none">instagram</span></a></td>
			</tr>

		</table>
	<div id="footer">Personal Blog .  <a style="font-size:100%" href="www.antoniocapelo.com" title="antoniocapelo.com">António Capelo</a> . {{ site.time | date: '%Y' }}</div>
	</div>
</div>
<div class="myclearfix"></div>