<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox"> -->

<!-- [> Toggleable sidebar <] -->
<!-- <div class="sidebar" id="sidebar"> -->
  <!-- <div class="sidebar-item"> -->
    <!-- <p>{{ site.description }}</p> -->
  <!-- </div> -->

  <!-- <nav class="sidebar-nav"> -->
    <!-- <ul> -->
        <!-- <li> -->
            <!-- <a {% if page.url == site.baseurl %} aria-describedBy="current" {% endif %} class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a> -->
        <!-- </li> -->

    <!-- {% comment %} -->
      <!-- The code below dynamically generates a sidebar nav of pages with -->
      <!-- `layout: page` in the front-matter. See readme for usage. -->
    <!-- {% endcomment %} -->

    <!-- {% assign pages_list = site.pages %} -->
    <!-- {% for node in pages_list %} -->
      <!-- {% if node.title != null %} -->
        <!-- {% if node.layout == "page" or node.layout == "about" %} -->
        <!-- <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" {% if page.url == node.url %} aria-describedBy="current" {% endif %} href="{{ node.url }}">{{ node.title }}</a></li> -->
        <!-- {% endif %} -->
      <!-- {% endif %} -->
    <!-- {% endfor %} -->

    <!-- <li><a class="sidebar-nav-item" href="{{ site.github }}">GitHub</a></li> -->
    <!-- <li><a class="sidebar-nav-item" href="{{ site.rssfeed }}" target="_blank">Feed <span class="typcn typcn-rss"></span></a></li> -->
    <!-- </ul> -->
  <!-- </nav> -->

  <!-- <div class="sidebar-item"> -->
    <!-- <p> -->
      <!-- &copy; {{ site.time | date: '%Y' }}. All rights reserved. -->
    <!-- </p> -->
  <!-- </div> -->
<!-- </div> -->
