---
layout: default
comments: true
---

<div class="post{% if page.techPost %} tech-post{% endif %}">    
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.image %}
      <img style="margin:0 0 1rem;width: 100%;" src="{{ page.image }}">
  {% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>

  <p class="post-metadata">
      {% if page.category %}
          Category: 
          {% for cat in page.category %}
          <a href="{{site.baseUrl}}/search?category={{cat | downcase | escape}}">{{ cat }}</a>
                  {% if forloop.last == false %},
                  {% endif %}
          {% endfor%}
          
          <br />
      {% endif %}
      Tags:
      {% for tag in page.tags %}
        <a href="{{site.baseUrl}}/search?tag={{tag | downcase | escape}}">{{tag}}</a>
         {% if forloop.last == false %},
         {% endif %}
      {% endfor%}
  </p>


  {{ content }}
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a>

{% if page.comments %}
   <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'capeloisblogging'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
{% endif %}
<div class="related">
<div class="navigation-links">
  {% if page.previous %}
    <a class="navigate-anchor {% if page.next == null %} one{% endif %}" href="{{page.previous.url}}" style="background-image:url('{{page.previous.image}}')">
      <span class="tip">Read Previous</span>
      <span class="nav-title"><i>"{{page.previous.title}}"</i></span>
    </a>
  {% endif %}
  {% if page.next %}
  <a class="navigate-anchor {% if page.previous == null %} one{% endif %}" href="{{page.next.url}}" style="background-image:url('{{page.next.image}}')">
    <span class="tip">Read Next</span>
    <span class="nav-title"><i>"{{page.next.title}}"</i></span>
  </a>
  {% endif %}
</div>
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
